
body{
    font-family: 'Open Sans', sans-serif;
}

.section-tittle{

    color:  #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    
   

}
.section-description
{
    
    color:  #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
     margin:0 145px;
    
}

.text-primary
{
   color: #FD6E0A;
   
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    width: 200px;
    height: 64px;
    padding: 15px;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
   
   
}
.nav-tittle{
    color: var(--dark-01, #202020);
    font-size: 45px;
    font-weight: 800px;
    
    
   
}
nav > ul {
    display: flex;
    align-items: center;
   

}
nav  li {
   list-style: none;
   margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:  #474747;
    
}
.call{
    margin-left: 20px;
}

.header
{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}
.banner{
    padding: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 
    
}


.banner .profile-pic{
    width: 500px;
    height: 600px;

    

}


.banner-getting {
   
font-size: 45px;
padding-right: 230px;
color: #474747;
align-items: center;


}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
   
}
.banner-description {

    font-size: 18px;
    color: #757575;
    margin-top: 20;
    
}

   
.banner-content{
    margin-left: 120px;
}
 
/* main section style */
 
main{
    max-width: 1140px;
    margin: 0px auto;
}
 main section{
    margin-top: 200px;
 }


/* about section style */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
  text-align: center;
}
.info-tittle{
    color:  #757575;
}
.info-description{
    color:  #474747;
}
.section-tittle{
   color:#181818; 
}
.section-description{
    color: #757575;
}
#what-i-do-description{
    padding: 30px 150px;
}

.skill-container{
    display: flex;
    justify-content: space-between;
   }

.skill{
    padding: 25px 10px 40px 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 050px 0px rgba(0, 0, 0, 0.06);
    background: #FFF;

    
}
.skill-descripstion{
    padding: 10px 5px 30px 33px ;
    color:  #757575;
    width: 201px;
}
.skill-tittle{
    margin-left: 30px;
}
.icon{
    padding: 10px 0 0 30px;
}

.resume-column-tittle{

    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50;
    color: #474747;
   
}

.resume-column2{
    
    margin-left: 50px;
}
.resume-item-tittle{
    font-size: 25px;
    font-weight: 700;
    font-family: Open Sans;
   
}

.resume-item-institute{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
     
}
.resume-item-description{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 50px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
   
}
.footer{
   display: flex;
   justify-content: space-between;
   margin-top: 130px;
   color: #181818;
   background-color: #FFF8F3;
   padding: 130px 200px;
   
 
   

}
.section-tittle1{
    margin-left: 200px;
    font-size: 35px;
    font-weight: 700;
    
    
}

.section-tittle2{
    margin-right: 250px;
    font-size: 35px;
    font-weight: 700;
    
    
}
.description{
    margin-left: 200px;
    color: #474747;
}
.icon-part{
    margin-left: 192px;
    margin-top: 30px;
    
}

.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    background-color: #FFF;
    border-radius: 5px;
    border-color: #FFF;
    border: 0px;
    width:100%
}